# TODO: Edit the values below this line according to the given placeholders
# Replace 'ora_YOUR-CWL-USERNAME' with "ora_" (no quotation marks) followed by your CWL username.
ORACLE_USER=ora_YOUR_CWL
# Replace 'YOUR-STUDENT-NUMBER' with your actual student number.
ORACLE_PASS=aYOUR_STUDENT_NUMBER


#Adjust the PORT if needed (e.g., if you encounter a "port already occupied" error)
PORT=50000

# -------------- The three lines below should be left unaltered --------------
ORACLE_HOST=dbhost.students.cs.ubc.ca
ORACLE_PORT=1522
ORACLE_DBNAME=stu

# ---------------- FINNHUB & SCRIPT SETTINGS ----------------
FINNHUB_API_KEY=YOUR_FINNHUB_TOKEN
RUN_SCHEDULED=false # for update script, determines if done manually or automated

# ---------------- EDGAR SETTINGS ----------------
EMAIL=YOUR_EMAIL
