# Dependency directories
node_modules/

# Logs
*.log

# dotenv environment variable files
#.env

# IDEs and editors
.vscode/
.idea/

# Ignore env files, this way each group member can keep their own credentials for database and API connections
.env

# Mac files
.DS_Store

# Windows image file caches
Thumbs.db

# Windows shortcuts
*.lnk
