body {
  font-family: 'Inter', sans-serif;
  background-color: #1C1C1C;
  color: #ffffff;
}

.moecontents {
  font-family: 'Inter', sans-serif;
  background-color: #1C1C1C;
  color: #ffffff;
}

.moemenu {
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}
/* GLOBAL STYLES */
/* body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 40px;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
} */

hr {
    border-top: 2px solid rgb(44, 51, 62);
    margin: auto;
}

/* TABLE STYLES */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

button {
    width: 270px;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    margin: 0.5% 0% 0.5% 0%;
}

button:hover {
    background-color: #0f0f0f;
}

button:active {
    background-color: #0f0f0f;
}

/* INPUT STYLES */
input, textarea {
    width: 80%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #404040;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #ffffff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

input::placeholder, textarea::placeholder {
    color: #6b7280;
}

/* OTHER STYLES */
.loading-gif {
    height: 1em;
    vertical-align: middle;
}
